<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "C:/dev/mybatis-3-config.dtd">
<!-- "http://mybatis.org/dtd/mybatis-3-config.dtd" <-> "C:\dev/mybatis-3-config.dtd"-->
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- jdbcTypeForNull 오라클에서 빈값이 달라서 -->
    </settings>

</configuration>